<h1 class="title">Tic Tac Toe</h1>

<div class="game-container">
  <ng-container *ngIf="!hasGameFinished">
    <p class="info">
      Next player: <span class="player-highlight">{{ currentPlayer }}</span>
    </p>
  </ng-container>

  <ng-container *ngIf="hasGameFinished">
    <p class="winner">🎉 Player {{ currentPlayer }} won! 🎉</p>
  </ng-container>

  <ng-container *ngIf="finishedAsDraw">
    <p class="draw">🤝 That's a draw! 🤝</p>
  </ng-container>

  <button class="restart-btn" (click)="restart()">🔄 Restart Game</button>

  <!-- Game Board -->
  <div class="board">
    <app-square
      *ngFor="let num of [0, 1, 2, 3, 4, 5, 6, 7, 8]"
      [squareNumber]="num"
      (onSquareClick)="handleSquareClick(num)"
    >
    </app-square>
  </div>

  <!-- Player Movements -->
  <h2 class="movements-title">Movements</h2>
  <div class="history-container">
    <div class="player-history">
      <strong class="player-x">Player X</strong>
      <ul>
        <li *ngFor="let movement of getMovementsFromPlayer('X')">
          <strong>#{{ movement.player }}</strong> clicked in square
          <strong>#{{ movement.squareNumber }}</strong>
        </li>
      </ul>
    </div>

    <div class="player-history">
      <strong class="player-o">Player O</strong>
      <ul>
        <li *ngFor="let movement of getMovementsFromPlayer('O')">
          <strong>#{{ movement.player }}</strong> clicked in square
          <strong>#{{ movement.squareNumber }}</strong>
        </li>
      </ul>
    </div>
  </div>
</div>
