.square {
  width: 100px;
  height: 100px;
  font-size: 48px;
  font-weight: 900;
  border: 2px solid #333;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.square:hover {
  background-color: #ddd;
}

.square:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.redColor {
  color: red; /* Set text color for 'X' */
}

.purpleColor {
  color: purple; /* Set text color for 'O' */
}
